* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/*Heading sizes*/
h1 {
  font-size: 8rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1.6rem;
}

/*Section [Navigation]*/
nav {
  height: 100px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fefbf2;
  display: flex;
  margin: 0 auto;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0 auto;
  align-items: center;
}

nav ul li {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  gap: 5px;
}

nav ul li a {
  align-items: center;
  display: block;
  padding: 20px 25px;
  color: black;
  text-decoration: none;
  text-align: center;
}

nav img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

nav a {
  font-size: 1.7rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: green;
  transition: all 250ms ease-in-out;
}

nav i {
  font-size: 3.5rem;
}

nav img {
  width: 160px;
  height: 160px;
  position: relative;
  top: 10px;
}

.burgerMenuOpen,
.burgerMenuClose {
  display: none;
  color: tomato;
}

nav ul li ul.dropdown li {
  display: block;
}

nav ul li ul.dropdown {
  width: 100%;
  background: #fefbf2;
  position: absolute;
  z-index: 999;
  display: none;
}

nav ul li a:hover {
  background: #fefbf2;
}

nav ul li:hover ul.dropdown {
  display: block;
}

/*Responsive burgermenu*/
@media screen and (max-width: 1044px) {
  nav {
    justify-content: space-between;
  }

  .nav-links {
    position: relative;
    max-width: 100%;
    height: 100px;
    background-color: #e0ddd4;
    align-items: center;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    top: 100px;
    gap: 10px;
  }

  nav ul li ul.dropdown {
    background: #e0ddd4;
  }

  nav ul li a:hover {
    background: #e0ddd4;
  }

  .nav-links.active {
    display: flex;
    position: absolute;
    width: 100%;
    height: auto;
    padding: 20px 0 20px 0;
  }

  .burgerMenuOpen {
    display: block;
    margin-right: 20px;
  }

  .burgerMenuOpen.active {
    display: none;
  }

  .burgerMenuClose {
    display: none;
    margin-right: 20px;
  }

  .burgerMenuClose.active {
    display: block;
  }

  nav img {
    margin-right: auto;
    margin-left: 20px;
  }
}

/*Section [Hero]*/
.hero {
  background-image: url(/assets/img/fuglebjerggaard2.png);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 710px;
  text-align: center;
  align-content: center;
}

.giftcard-btn {
  display: inline-block;
  padding: 13px 35px;
  font-size: 1.6rem;
  border-radius: 15px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: tomato;
  cursor: pointer;
  text-align: center;
  align-content: center;
  margin-bottom: 10px;
}

.giftcard-btn:hover {
  background-color: rgb(224, 82, 57);
  transition: all 250ms ease-in-out;
}

.hero h1 {
  text-align: center;
  color: white;
  margin-bottom: 25px;
  font-family: "Lobster Two", sans-serif;
  font-weight: 500;
}

.hero div {
  background-color: rgba(0, 0, 0, 0.486);
  border-radius: 5px;
  margin: 0 auto;
  width: fit-content;
  padding: 20px 80px;
}

/*Section [Socials]*/
.socials {
  width: 100%;
  background-color: #bfa866;
  height: 80px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.socials i {
  font-size: 2.6rem;
  margin-right: 10px;
  color: black;
}

.socials i:hover {
  color: tomato;
  transition: all 150ms ease-in-out;
}

.socials p {
  margin-right: 30px;
}

/*Section [info]*/
.info {
  width: 100%;
  padding: 0 120px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.info article {
  flex: 1 1 calc(33.333% - 20px);
  text-align: center;
  height: 400px;
  padding: 10px;
}

.info article h3 {
  text-align: center;
  margin-bottom: 10px;
}

.info article:nth-child(1),
.info article:nth-child(5) {
  background-color: #486228;
  color: white;
}

.info article:nth-child(2) {
  background-color: #bfa866;
}

.info article:nth-child(3) {
  background-color: #4e341d;
  color: white;
}

.info article:nth-child(4) {
  background-color: #d59500;
  color: white;
}

.info article:nth-child(6) {
  background-color: #9f771a;
  color: white;
}

.info .giftcard-btn {
  margin-top: 10px;
}

/*Section [øko-mærker]*/
.øko-mærker {
  width: 100%;
  background-color: #bfa866;
  height: auto;
  padding: 20px 0;
  margin-bottom: 50px;
}

.øko-mærker-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 120px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 40px;
}

.øko-mærker h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 4.2rem;
}

.øko-mærker p:nth-child(3) {
  margin-bottom: 10px;
}

.øko-mærker p:nth-child(4) {
  margin-bottom: 10px;
}

.øko-mærker p:nth-child(5) {
  margin-bottom: 10px;
}

.øko-mærker p:nth-child(6),
.øko-mærker p:nth-child(7) {
  font-style: italic;
  font-weight: 500;
}

.camilla-ptag {
  margin-bottom: 10px;
  font-weight: 600;
}

.øko-mærker figure {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto auto);
  gap: 10px;
  align-self: center;
}

.øko-mærker figure img:first-child {
  grid-column: span 3;
  grid-row: span 1;
  object-fit: cover;
  width: 320px;
  height: 260px;
}

.øko-mærker img:nth-child(2),
.øko-mærker img:nth-child(3),
.øko-mærker img:nth-child(4) {
  width: 100px;
  height: 100px;
}

/*Section [Netbutik]*/
.netshop {
  width: 100%;
  padding: 0 20px;
  height: auto;
  margin-bottom: 35px;
}

.netshop header {
  display: flex;
  text-align: center;
  border: 1px solid #353535;
  padding: 5px 10px;
  width: 200px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  background-color: white;
}

.netshop hr {
  position: relative;
  width: 1271px;
  bottom: 26px;
  z-index: -1;
  background-color: #353535;
  margin: 0 auto;
  margin-bottom: 40px;
}

.netshop header i {
  font-size: 2.5rem;
  color: #353535;
}

.netshop header h4 {
  color: #353535;
}

.netshop header h4:hover {
  color: tomato;
  transition: all 150ms ease-in-out;
}

.netshop header a {
  text-decoration: none;
}

.netshop-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.netshop-container article a {
  text-decoration: none;
  color: black;
}

.netshop-container h6 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.807);
  height: 35px;
  position: relative;
  bottom: 80px;
  font-size: 1.6rem;
  font-weight: 500;
  align-content: center;
}

.netshop-container h6:hover {
  background-color: tomato;
  transition: all 150ms ease-in-out;
}

.netshop-h6-nth {
  height: 60px !important;
}

/*Section [Footer]*/
footer {
  width: 100%;
  background-color: #bfa866;
  color: white;
  height: auto;
  padding: 0 20px;
  margin: 0 auto;
}

.footer-top-container {
  display: flex;
  margin-bottom: 20px;
  gap: 150px;
  justify-content: center;
  padding-top: 20px;
}

/*Section [Footer contact]*/
.footer-contact p {
  font-size: 1.4rem;
}

/*Section [Footer nav]*/
.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-nav ul li {
  list-style: none;
  text-decoration: none;
}

.footer-nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}

footer h5 {
  font-weight: bold;
  margin-bottom: 5px;
}

footer a {
  margin-bottom: 5px;
}

.footer-nav a:hover {
  text-decoration: underline;
}

/*Section [footer socials]*/
.footer-socials i {
  font-size: 2rem;
  margin-right: 10px;
  color: white;
}

.footer-socials i:hover {
  color: tomato;
  transition: all 150ms ease-in-out;
}

/*Section [footer newsletter]*/
.footer-newsletter form {
  display: flex;
  gap: 5px;
}

.input-email {
  width: 100%;
  height: 30px;
  border-radius: 30px;
  background-color: white;
  border: none;
}

.input-email::placeholder {
  padding-left: 5px;
}

.input-btn {
  width: 60%;
  height: 30px;
  border-radius: 30px;
  background-color: tomato;
  border: none;
}

.input-btn:hover {
  background-color: rgb(224, 82, 57);
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

/*Section [footer bottom container]*/
.footer-bottom-container {
  width: 69%;
  text-align: center;
  margin: 0 auto;
  border-top: 1px solid rgb(40, 40, 40);
}

.footer-bottom-container p {
  margin: 0 auto;
  padding: 10px;
  color: rgb(43, 43, 43);
  font-size: 1.3rem;
}

/*Responsive*/
@media screen and (max-width: 768px) {
  /*Heading sizes*/
  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 3.8rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 1.8rem;
  }

  h6 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.4rem;
  }

  /*Info*/
  .giftcard-btn {
    padding: 10px 30px;
    font-size: 1.4rem;
  }

  /*Øko-mærker*/
  .øko-mærker {
    flex-direction: column;
  }

  .øko-mærker article {
    margin-bottom: 20px;
    text-align: center;
  }

  .øko-mærker figure {
    margin: 0 auto;
  }

  .øko-mærker h2 {
    font-size: 3.5rem;
  }

  /*Footer*/
  .footer-bottom-container p {
    font-size: 1.1rem;
  }

  .footer-top-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 0;
  }

  .footer-nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1080px) {
  .footer-bottom-container {
    width: 90%;
  }
}

@media screen and (max-width: 968px) {
  .footer-top-container {
    gap: 70px;
  }

  .display-none {
    display: none;
  }

  .øko-mærker-container {
    flex-direction: column;
  }

  .øko-mærker figure img:first-child {
    grid-column: span 3;
    grid-row: span 1;
    object-fit: cover;
    width: 440px;
    height: 300px;
  }

  .øko-mærker img:nth-child(2),
  .øko-mærker img:nth-child(3),
  .øko-mærker img:nth-child(4) {
    width: 140px;
    height: 140px;
  }
}

@media screen and (max-width: 768px) {
  .øko-mærker figure img:first-child {
    grid-column: span 3;
    grid-row: span 1;
    object-fit: cover;
    width: 320px;
    height: 260px;
  }

  .øko-mærker img:nth-child(2),
  .øko-mærker img:nth-child(3),
  .øko-mærker img:nth-child(4) {
    width: 100px;
    height: 100px;
  }
}

/*Netshop hr responsive*/
@media screen and (max-width: 768px) {
  .netshop hr {
    width: 503px;
  }
}

@media screen and (max-width: 1331.2px) {
  .netshop hr {
    width: 1013px;
  }
}

@media screen and (max-width: 1074.4px) {
  .netshop hr {
    width: 763px;
  }
}

@media screen and (max-width: 817.6px) {
  .netshop hr {
    width: 500px;
  }
}

@media screen and (max-width: 560px) {
  .netshop hr {
    width: 248px;
  }
}
